
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: red;
  margin-top: 2rem;

  label {
    font-size: 1.2rem;
    color: #fff;
  }
}

.content {
  background-color: reds;
  width: 26rem;
  margin: 0 auto;

  border-radius: .5rem;

  a {}

  a:hover {
    color:red;
  }
}

.form {
  &__group {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;

    input {

      margin-top: 0.4rem;
      width: 100%;
      height: 2rem;
      border: none;
      border-radius: .2rem;
      padding: 1rem;
    }

    span {
      color: #fff;
      margin-left: .5rem;
      font-weight: 400;
      letter-spacing: .1rem;
    }
  }

  &__btn {

    width: 40%;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 0.2rem;


    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.8rem 0;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: red;

    }
  }
}