
.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.heading__primary {
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

.content {
  width: 26rem;
  margin: 0 auto;
  padding: 2rem 2rem 1.6rem 2rem;
  border-radius: .5rem;
  background-color: var(--primary-color);
}



.form {
  margin-top: 1rem;

  &__group {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    
    span {
      float: left;
      color: #fff;
      font-weight: 400;
      letter-spacing: .1rem;
    }
  }
}

.signup {
  color: #fff;
}

.signup:hover {
  color:red;
}