.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  margin: 0 auto;
  padding: 2rem 2rem 1.6rem 2rem;
  border-radius: .5rem;
  background-color: var(--primary-color);
}

#form__login {
  width: 32rem;
}

.form {
  &__group {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;;
    span {
      float: left;
      color: #fff;
      font-weight: 400;
      letter-spacing: .1rem;
    }
  }
}

