
.input {
    &__label {
        float: left;
        font-size: 1.2rem;
        color: red;
    }

    input {
        width: 100%;
        height: 3rem;
        
        margin-top: 0.4rem;
        padding: 1rem;
        
        border: none;
        border-radius: .2rem;
    }
}