
:root {
  --primary-color: #0F4459;
  --primary-color-light: #C2D6D7;
  --primary-color-dark: #00091D;
 
  --secondary-color: #27400E;
  --secondary-color-dark:#172601;

  --tertiary-color: #BF9780;
  
  --color-black:  #16121F;
  --color-black-light: #252934;
  --color-grey-dark: #333;
  --color-grey: #777;
  --color-grey-light: #999;

}
 

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: var(--tertiary-color);
}

li,
a {
  list-style: none;
  text-decoration: none;
}