@import './mixins.scss';

:root {
  --primary-color: #0F4459;
  --primary-color-light: #c2d6d7b0;
  --primary-color-dark: #00091D;
  
  --secondary-color-light: #6B7A55;
  --secondary-color: #4A5D32;
  --secondary-color-dark:#17330C;

  --tertiary-color: #BF9780;
  
  --color-black:  #16121F;
  --color-black-light: #252934;
  --color-grey-dark: #333;
  --color-grey: rgb(95, 95, 95);
  --color-grey-light: #999;
}
 
html {
  font-size: 62.5%;
  box-sizing: border-box;
  
  @include respond(big-desktop) {
      font-size: 75%; //1rem = 12, 12/16
  }
  @include respond(tab-land) { // width < 1200?
      font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }
  @include respond(tab-port) { // width < 900?
      font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #fff;
}

a {
  list-style: none;
  text-decoration: none;
}


small {
  color: var(--color-grey)
}

.small--title {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--color-grey);
}