 //VARIABLES
 $colorprimarylight: #74c69d;
 $colorprimary: #52b788;
 $colorprimarydark: #40916c;

 $colorgreylight1: #faf9f9;
 $colorgreylight2: #f4f2f2;
 $colorgreylight3: #f0eeee;
 $colorgreylight4: #ccc;

 $colorgreydark1: #333;
 $colorgreydark2: #777;
 $colorgreydark3: #999;

 $colorfooter: #212121;

 //VARIABLES