@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');


.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;


  justify-content: space-between;
}

.products {
  
  display: flex;
  align-items: center;
  justify-content: flex-start;

  flex-wrap: wrap;

  & > div {
   margin: 1rem; 
  }
}

.message {
  width: 100%;
  text-align: center;
}