@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import '../../global/variables.scss';

li,
a {
  list-style: none;
  text-decoration: none;
}

html {
  background-color: $colorbackground;
}

//HEADER

//HEADER

//PRODUCTS
.products {
  grid-column: center-start / center-end;
  margin: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 2rem;

}



//PRODUCTS