@import '../../global/variables.scss';

.header {
  height: 5rem;
  background-color: $colorprimarydark;
  display: flex;

  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $colorprimary;

  .logo {
    display: flex;
    align-items: center;
    &__box {
      width: 5rem;
      height: 5rem;
    
      img {
        width: 100%;
        background-position: center;
        background-size: contain;
      }
    }

    &__title {
    color: #eee;
    
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    }
  }

  .navbar {
    flex: 1;
    display: flex;
    flex-direction: row;
    list-style: none;
    letter-spacing: 0.1rem;

    .navbaritem a {
      list-style: none;
      font-size: 1.2rem;
      color: #eee;
      transition: all 0.3 ease 0s;
      margin-right: 2rem;
      position: relative;
      padding: 0 10px;

    }

    .navbaritem a:after {
      content: "";
      position: absolute;
      background-color: $colorgreylight1;
      height: 3px;
      width: 0%;
      left: 0%;
      bottom: -10px;
      transition: 0.3s;
    }

    .navbaritem a:hover::after {
      //color: $colorgreydark;
      background-color: $colorgreylight1;
      width: 100%;
    }
  }
}