
.header {
  height: 5rem;
  background-color: var(--primary-color-dark);
  display: flex;

  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--primary-color);

  .logo {
    display: flex;
    align-items: center;
    &__box {
      width: 5rem;
      height: 5rem;
    
      img {
        width: 100%;
        background-position: center;
        background-size: contain;
      }
    }

    &__title {
    color: var(--primary-color-light);
    
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    }
  }

  .navbar {
    flex: 1;
    display: flex;
    flex-direction: row;
    list-style: none;
    letter-spacing: 0.1rem;

    &__item {
      opacity: .8;
      transition: all .1s ease 0s;

        a {
        display: flex;
        align-items: center;
      
        list-style: none;
        font-size: 1rem;
        color: var(--primary-color-light);
        position: relative;
        padding: 0 10px;
    
        p {
          margin-left: .5rem;
        }
      }
      &:hover {
        opacity: 1;
        transform: scale(1.01);
      }
    }

    &__icon {
      width: 2.2rem;
      height: 2.2rem;
      margin-left: 2rem;
    }
  }
}