@import '../../global/variables.scss';

//FOOTER

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 5rem;
  color: #fff;
  background-color: $colorfooter;
    
  &__socials {
    flex: .4;
    a {
      color: $colorgreylight1;
      font-size: 2rem;
      margin-right: 1rem;
    }
  }

  &__logo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    img {
      width: 5rem;
      background-position: center;
      background-size: contain;
    }
  }

  &__features {
    flex: .4;
    p {
      font-size: 1.2rem;
    }
  }

}



//FOOTER