@import '../../global/variables.scss';

.product__items {
  display: flex;
  justify-content: space-evenly;

  background-color: $colorbackground;

  input {

    margin-top: 1rem;
    width: 40%;
    height: 1rem;
    border: none;
    border-radius: .2rem;
    padding: 1rem;
  }

  &__left {
    display: flex;
    flex: 1;
    padding-top: 4rem;
    padding-left: 6rem;
    display: flex;
    text-align: start;

    &__title {
      color: $colorgreylight1;
      font-weight: 600;


      h3 {
        font-size: 1.6rem;
        letter-spacing: 0.05rem;
        margin-bottom: 1rem;
      }
    }

    &__review {
      display: flex;
      text-align: center;
      margin-bottom: 1rem;


      h5 {
        font-size: 1.4rem;
        margin-right: 0.2rem;
      }
    }

    &__description p {
      font-weight: 400;
      width: 50%;
      line-height: 1.4rem;
    }

    &__carrosselvertical {
      height: 5rem;
      width: 6rem;
      background-color: red;
    }

  }

  &__middle {
    text-align: center;

    flex: 1;
    margin-top: 2rem;
    margin-bottom: 2rem;

    img {
      height: 100%;
      width: 100%;
      border-radius: 0.4rem;
    }
  }

  &__right {
    font-size: 1.2rem;
    flex: 0.8;
    padding: 4rem 4rem;
    display: flex;
    flex-direction: column;


    p {
      color: #fff;

    }

    h3 {
      color: $colorprimarylight;
      font-weight: 600;
    }

    &__btn {
      margin-top: 2rem;
      width: 60%;
      background-color: $colorprimary;
      color: #fff;
      border: none;
      border-radius: 0.2rem;

      font-size: 1rem;
      text-transform: uppercase;
      padding: 1rem 2rem;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background-color: $colorprimarydark;
      }
    }

    &__sizes {

      margin-top: 2rem;

      p {
        font-weight: 500;
      }

      &__icon {
        margin-left: 0.4rem;
        background-color: $colorprimarylight;
        font-size: 1rem;
        padding: 0.3rem;
        border: none;
        border-radius: 0.2rem;
        color: #fff;

      }

      &__btnoption {
        width: 1.6rem;
        height: 1.6rem;
        margin: 1rem 0.2rem;
        text-align: center;
        border: none;
        border-radius: 60%;
        font-weight: 600;
      }
    }
  }

}